name = "crescendai"
main = "build/worker/shim.mjs"
compatibility_date = "2024-12-01"

[build]
command = "./build.sh"

[assets]
directory = "./dist/client"

[[kv_namespaces]]
binding = "KV"
id = "a20cea1f48d9415da9d7ca6418563025"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "crescendai-bucket"

[[d1_databases]]
binding = "DB"
database_name = "crescendai-db"
database_id = "659755a8-4e9e-4581-a2bd-d34b6f912c3a"

[[vectorize]]
binding = "VECTORIZE"
index_name = "crescendai-piano-pedagogy"

[ai]
binding = "AI"

[vars]
ENVIRONMENT = "development"
